<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".BiblesproutApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Biblesprout">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ChaptersActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ReaderActivity"
            android:exported="false" />

        <activity
            android:name=".ui.FindActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.PassageActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CommentaryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BookmarksActivity"
            android:exported="false" />

        <activity
            android:name=".ui.NoteActivity"
            android:exported="false" />
    </application>

</manifest>
